* {
    font-family: sans-serif;
}
 
.menutoolbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: rgb(206,235,251);
}

.menutoolbar ul:after{
    content:'';
    display: block;
    clear:both;
}
.menutoolbar li {
    float: right;
}

.menutoolbar li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;   
    transition: background-color .3s;
}
.menutoolbar li a:hover:not(.active) {
    background-color: rgb(163,214,245);
}
.menutoolbar .active {
    background-color: rgb(102,214,245);
}