.title {
    margin: auto;
    width: 100%;
}

.title_img img{ 
    animation: fadein 2s;
    width: 100%;
    height: auto;
}

.title_content {
    position: absolute;
    top: 15%;
    left: 15%;
    font-size: 70px;
}

.title_content h1 {
    animation: fadein 4s;
    font-size: 70px;
    color: black;
}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}